<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @appointment.client_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Showed:</strong>
  <%= @appointment.showed %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
